/bin/
/obj/
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.nuget/
*.vsix
*.nupkg
*.snk
project.lock.json
project.fragment.lock.json
*.DotSettings
.idea/
Releases/
**/TestResults/
*.cache
*.log
.env
.env.*
**/*.db
.DS_Store
